*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1e90ff
}

.content{
    padding: 1rem;
    background-color: #ffffffec;
    width: 100vw;
    height: 100vh;
    border-radius: 1rem;
}

.content img{
    width: 200px;
}
